#para1 {
    background-color: rgb(255, 255, 255);
}

#para2 {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#para3 {
    background-color: rgb(255, 0, 0);
}

#para4 {
    background-color: rgb(0, 128, 0);
}

#para5 {
    background-color: rgb(0, 0, 255);
}

#para6 {
    background-color: rgb(255, 255, 0);
}

#para7 {
    background-color: rgb(135, 206, 250);
}

#para8 {
    background-color: rgb(238, 130, 238);
}

#dama1 {
    background-color: rgb(255, 215, 0);
}

#dama2 {
    background-color: rgb(255, 105, 180);
}

#dama3 {
    background-color: rgb(34, 139, 34);
}

#dama4 {
    background-color: rgb(255, 165, 0);
}

#dama5 {
    background-color: rgb(0, 255, 255);
}

