*{
    padding: 0;
    margin: 0;

}
body{
    background-image: url(unnamed.webp);
    background-repeat: repeat-x;
}
/*background-cover aris ufro praktikuli vidre background-contain imitom rom coverit poto gadideba mtliani ekranis zomaze dafaravs
mtlian backgrounds magram contiam mxolod suratis zomas aigebs da ra zomaacaa surati is zomac iqneba poto backgroundze