*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: "Climate Crisis", sans-serif;
}



.cont{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 214, 214);
}
.h11{
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    display: flex;
    justify-content: flex-end;
    width: 1700px;
    position: relative;
    top: 50px;
    color: white;
}

.card{
    background-color: rgb(130, 4, 0);
    width: 1300px;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 500px;
    border-radius: 15px;
    position: relative;
    border: 3px solid black;
}
img{
    width: 550px;
    height: 550px;
    position: relative;
    left: 50px;
    border: 2px solid rgb(97, 12, 12);
    border-radius: 8px;
}
.txt{
    
    width: 650px;
    height: 550px;
    position: relative;
    right: 400px;
    color:rgb(191, 191, 191)
}
.txt {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    
}
.txt h1{
    font-size: 40px;
    position: relative;
    left: 110px;
    color: black;
}
.txt p{
    width: 550px;
    height: 500px;
    position: relative;
    top: 20px;
    left: 20px;
}
footer{
    background-color: black;
    width: auto;
    height: 200px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 220px;
    text-align: center;
}

footer a{
    position: relative;
    top: 40px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
    width: 200px;
    height: 50px;
    border: 10px;
    background: linear-gradient(to bottom,
    #405DE6,
    #5851DB,
    #833AB4,
    #C13584,
    #E1306C,
    #FD1D1D)
}



footer .fc{
    background: #405DE6;
}
footer .yt{
    background: #ff0000;
}

a{
    transition: transform .32s ease, filter .32s ease;
}

a:hover {
    transform:translateY(-5px);
    
}

.oii{
    color: white;
    position: relative;
    top: 70px;
    font-weight: 1;
    font-size: 22px;
    left: 150px;
    width: 1700px;
}

header{
    background-color: black;
    width: auto;
    height: 200px;
}
.gob1{
    color: white;
    text-decoration: none;
    width: 40px;
    height: 20px;
    position: relative;
}