*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(240, 240, 240);
    font-family: "Climate Crisis", sans-serif;
    background: url(oppp.jpg) ;
    background-blend-mode: darken;
    height: 130vh;
}
