*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
.a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}
.q{
    background-color: black;
    width: 300px;
    height: 300px;
}
.w{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.e{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius:50%;
    position: relative;
    top: 100px;
    left: 100px;
}