*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.i{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.g{
    background-color: rgb(0, 0, 123);
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.gi{
    background-color: white;
    width: 400px;
    height: 3px;
    position: relative;
    right:300px;
    display: inline-block;
}
.gio{
    background-color: white;
    width: 3px;
    height: 500px;
    position: relative;
    right: 600px;
    display: inline-block;
}