body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111d37;
  gap: 200px;
}

.box {
  width: 150px;
  height: 150px;
  background: linear-gradient(#645f91, #71d3fd);
  border-radius: 12px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  transition:  1s ease;
}

.box:hover {
  transform: rotate(-360deg) scale(1.3) ;
}
button{
  width: 150px;
  height: 150px;
  background: linear-gradient(135deg, #f76f6f, #ffa600);
  border-radius: 12px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  transition: transform 1.3s ease;
}

button:active {
  transform: rotateX(360deg) scale(1.5);
}