*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box1{
    background-color: rgb(40, 191, 237);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 5s;
}


.box1:active{
    transform: scale(3) translateX(200px);
}